* {
  margin: 0;
}

body {
  background-color: black;
  line-height: 1.5;
}

.top-bar {
  border-bottom: 1px solid rgba(85, 85, 85, 0.4);
  margin-bottom: 10px;
  background-color: rgb(45, 45, 45);
  display: flex;
  text-align: center;
  justify-content: center;
}

.web-title {
  padding: 10px;
  font-size: 30px;
  color: yellow;
}

.web-title:hover {
  cursor: pointer;
}

#search-bar {
  background-color: transparent;
  border-color: yellow;
}

#search-bar:focus {
  outline: 0;
  background-color: rgba(60, 60, 60, 0.6);
  color: rgb(200, 200, 0);
}

#search-bar::placeholder {
  color: rgb(200, 200, 0);
}

#movie-list {
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  background-color: yellow;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  cursor: pointer;
}

.card-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: yellow;
  padding: 1rem;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.card:hover .card-text {
  transform: translateY(0);
  max-height: 300px;
  overflow: auto;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.card-rating {
  background-color: rgb(45, 45, 45);
  padding: 4px;
  color: white;
  border-radius: 4px;
}

.card-rating.green {
  color: lightgreen;
}

.card-rating.orange {
  color: orange;
}

.card-rating.red {
  color: red;
}

.overview-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.card:hover {
  transform: scale(1.05);
}

.category-container {
  margin-top: 10px;
}

.category-header {
  margin-left: 10px;
  margin-bottom: 5px;
  color: yellow;
}

#category-select {
  background-color: black;
  border-color: yellow;
  color: rgb(200, 200, 0);
}

#genre-tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.genre {
  color: black;
  background-color: yellow;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 5px 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.genre:hover {
  transform: scale(1.1);
}

.genre.selected {
  background-color: rgb(85, 85, 85);
  color: yellow;
}

.no-movie-message {
  color: yellow;
  text-align: center;
  margin-top: 100px;
}

.page-container {
  display: flex;
  margin: 20px 40px;
  justify-content: center;
  align-items: center;
  color: yellow;
}

.page {
  padding: 15px;
  cursor: pointer;
}

.page.disabled {
  cursor: not-allowed;
  color: rgb(200, 200, 0);
}

.current {
  padding: 15px 25px;
  border-radius: 50%;
  border: 5px solid yellow;
  font-size: 20px;
  font-weight: bold;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: yellow;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay .watch-text {
  color: yellow;
  text-align: center;
  margin-top: 60px;
}
